body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans serif;
}
nav ul {
    list-style: none;
    background-color: #6B6B69;
    text-align: center;
    margin: 0;
    padding: 0;
}
nav li {
    font-size: 1.5em;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
nav a:hover {
    background-color: #6B6B69;
    color: #000000;
}
.card {
    float: left;
    width: 19%;
    margin-left: 5%;
}
.card2 {
    float: left;
    width: 11%;
    margin-left: 5%;
}
.card a {
    text-align: center;
}
img {
    width: 100%;
    height: 100%;
}
h2 {
    text-align: center;
}
.box1 {
      width: 300px;
      height: 300px;
      padding: 20px;
      border: 10px ridge #6B6969;
}
.box2 {
      width: 150px;
      height: 150px;
      padding: 20px;
      border: 10px ridge #6B6969;
}